<!-- Header Carousel -->
<header>
  <div class="main_image">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Welcome to Redrum Nursery
            </h1>
        </div>
      </div>

    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

<!-- Marketing Icons Section -->
  <!-- Call to Action Section -->
  <div class="well">
      <div class="row">
          <div class="col-md-8">
              <h4>Receive free coupons, free shipping, and a T-Shirt</h4>
          </div>
          <div class="col-md-4">
              <a class="btn btn-lg btn-primary btn-block" href="#">Become a Redrum MVP</a>
          </div>
      </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i>Food</h4>
            </div>
            <div class="panel-body" id="index-foods">
                <a href="#" class="btn btn-default">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-gift"></i>Plants</h4>
            </div>
            <div class="panel-body" id="index-plants">
                <a href="#" class="btn btn-default">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-compass"></i>Accessories</h4>
            </div>
            <div class="panel-body" id="index-accessories">
                <a href="#" class="btn btn-default">Shop Now</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->


<!-- Portfolio Section -->
<div class="row">




</div>
<!-- /.row -->
<div class="container hidden-xs">
  <div class="col-lg-12">
      <h2 class="page-header featured">Featured Products</h2>
  </div>
	<div class="col-md-12">
      <div id="ClientCarousel" class="carousel slide">

      <!-- Carousel items -->
      <div class="carousel-inner">

      <div class="item active">
      	<div class="row">
          <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="thumbnail">
                  <img src="http://placehold.it/320x250" alt="">
                  <div class="caption">
                      <h4 class="pull-right">$24.99</h4>
                      <h4><a href="#">First Product</a>
                      </h4>
                  </div>
              </div>
          </div>

          <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="thumbnail">
                  <img src="http://placehold.it/320x250" alt="">
                  <div class="caption">
                      <h4 class="pull-right">$64.99</h4>
                      <h4><a href="#">Second Product</a>
                      </h4>

                  </div>
              </div>
          </div>

          <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="thumbnail">
                  <img src="http://placehold.it/320x250" alt="">
                  <div class="caption">
                      <h4 class="pull-right">$74.99</h4>
                      <h4><a href="#">Third Product</a>
                      </h4>
                  </div>
              </div>
          </div>



      	</div><!--.row-->
      </div><!--.item-->

      <div class="item">
      	<div class="row">
          <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="thumbnail">
                  <img src="http://placehold.it/320x250" alt="">
                  <div class="caption">
                      <h4 class="pull-right">$24.99</h4>
                      <h4><a href="#">Fourth Product</a>
                      </h4>
                  </div>
              </div>
          </div>

          <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="thumbnail">
                  <img src="http://placehold.it/320x250" alt="">
                  <div class="caption">
                      <h4 class="pull-right">$64.99</h4>
                      <h4><a href="#">Fifth Product</a>
                      </h4>

                  </div>
              </div>
          </div>

          <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="thumbnail">
                  <img src="http://placehold.it/320x250" alt="">
                  <div class="caption">
                      <h4 class="pull-right">$74.99</h4>
                      <h4><a href="#">Sixth Product</a>
                      </h4>
                  </div>
              </div>
          </div>
      	</div><!--.row-->
      </div><!--.item-->

      </div><!--.carousel-inner-->
        <a data-slide="prev" href="#ClientCarousel" class="left carousel-control">‹</a>
        <a data-slide="next" href="#ClientCarousel" class="right carousel-control">›</a>
      </div><!--.Carousel-->

		</div>
</div>

<hr>
</div>
<!-- /.container -->

<script>
  $(document).ready(function() {
    $('#ClientCarousel').carousel({
        interval: 5000
    })
});
</script>
