<!-- Header -->
<header>
  <div class="main-image">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            Welcome to Redrum Nursery
          </h1>
        </div>
      </div>

    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <!-- Marketing Icons Section -->
  <!-- Call to Action Section -->
  <br>
  <div class="well">
    <div class="row">
      <div class="col-md-8">
        <h4>Receive free coupons, free shipping, and a T-Shirt</h4>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-primary btn-block" href="#">Become a Redrum MVP</a>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-check"></i>Food</h4>
        </div>
        <div class="panel-body" id="index-foods">
          <a href="#" class="btn btn-default">Shop Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-gift"></i>Plants</h4>
        </div>
        <div class="panel-body" id="index-plants">
          <a href="#" class="btn btn-default">Shop Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-compass"></i>Accessories</h4>
        </div>
        <div class="panel-body" id="index-accessories">
          <a href="#" class="btn btn-default">Shop Now</a>
        </div>
      </div>
    </div>
  </div><!-- /.row -->


  <!-- Featured Products Section -->
  <div class="row">

    <%= render "partials/product_carousel" %>

  </div>

  <hr>
</div><!-- /.container -->
