<div class="container">
  <h3 class="text-center">Admin Dashboard</h3>
  <div class="row">
    <div class="col-sm-6 ">
      <a href="<%= admin_products_path %>">
        <div class="thumbnail">
          <%= image_tag 'plants/3-plants.jpg', class: "img-responsive",
                        alt: "3-plants image" %>
          <p class="btn btn-block btn-primary">View All Products</p>
        </div>
      </a>
    </div>
    <div class="col-sm-6 ">
      <a href="<%= admin_orders_path %>">
        <div class="thumbnail">
          <%= image_tag 'plants/plant-4.jpg', class: "img-responsive",
                        alt: "3-plants image" %>
          <p class="btn btn-block btn-primary">View All Orders</p>
        </div>
      </a>
    </div>
  </div>
</div>
