<div class="container">
  <h1 class="text-center">Cart</h1>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td colspan=1></td>
          <td colspan=1>Product</td>
          <td>Price</td>
          <td>Quantity</td>
          <td>Total</td>
          <td colspan=1></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="//placehold.it/100x100"></td>
          <td>Title<br>Description of the product that you want</td>
          <td>$25.00</td>
          <td><select class="form-control"><option>1</option><option>2</option><option>3</option></select></td>
          <td>$50.00</td>
          <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </td>
        </tr>
        <tr>
          <td><img src="//placehold.it/100x100"></td>
          <td>Title<br>Description of the product that you want</td>
          <td>$25.00</td>
          <td><select class="form-control"><option>1</option><option>2</option><option>3</option></select></td>
          <td>$50.00</td>
          <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </td>
        </tr>
        <tr>
          <td><img src="//placehold.it/100x100"></td>
          <td>Title<br>Description of the product that you want</td>
          <td>$25.00</td>
          <td><select class="form-control"><option>1</option><option>2</option><option>3</option></select></td>
          <td>$50.00</td>
          <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </td>

        </tr>
        <tr>
          <td><img src="//placehold.it/100x100"></td>
          <td>Title<br>Description of the product that you want</td>
          <td>$25.00</td>
          <td><select class="form-control"><option>1</option><option>2</option><option>3</option></select></td>
          <td>$50.00</td>
          <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </td>

        </tr>
        <tr>
          <td><img src="//placehold.it/100x100"></td>
          <td>Title<br>Description of the product that you want</td>
          <td>$25.00</td>
          <td><select class="form-control"><option>1</option><option>2</option><option>3</option></select></td>
          <td>$50.00</td>
          <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </td>

        </tr>
        <tr>
          <td><img src="//placehold.it/100x100"></td>
          <td>Title<br>Description of the product that you want</td>
          <td>$25.00</td>
          <td><select class="form-control"><option>1</option><option>2</option><option>3</option></select></td>
          <td>$50.00</td>
          <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </td>

        </tr>
        <tr>
          <td><img src="//placehold.it/100x100"></td>
          <td>Title<br>Description of the product that you want</td>
          <td>$25.00</td>
          <td><select class="form-control"><option>1</option><option>2</option><option>3</option></select></td>
          <td>$50.00</td>
          <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </td>
        </tr>
        <tr>
          <td><img src="//placehold.it/100x100"></td>
          <td>Title<br>Description of the product that you want</td>
          <td>$25.00</td>
          <td><select class="form-control"><option>1</option><option>2</option><option>3</option></select></td>
          <td>$50.00</td>
          <td>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </td>
        </tr>
        <tr>
          <td colspan=3></td>
          <th>Total</th>
          <th>$300.00</th>
        </tr>
      </tbody>

    </table>

  </div>
  <%= button_tag "Continue Shopping", class: "btn btn-lg btn-primary" %> <%= button_tag "Checkout", class: "btn btn-lg btn-success pull-right" %>
</div><!-- /.container -->
