<!-- Footer -->
<div class="container">

  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Redrum Nursery 2015</p>
      </div>
    </div>
  </footer>

</div> <!-- end container -->
